#asdPrincipal{
  height: 480px;                            /*Altura del Cotenedor*/
}

#divPrincipal{
  display: flex;                            /*Modo de ajuste del contenido*/
  width: 100%;                              /*Ancho del Cotenedor*/
  height: 100%;                             /*Altura del Cotenedor*/
}

#divTextos{
  background-color: #95969f;              /*Color del Fondo*/ 
  width: 30%;                               /*Ancho del Cotenedor*/
  height: 100%;                             /*Altura del Cotenedor*/
}

#divFotos{
  display: flex;                            /*Modo de ajuste del contenido*/
  background-color: #c7c8d4;              /*Color del Fondo*/
  width: 70%;                               /*Ancho del Cotenedor*/
  height: 100%;                             /*Altura del Cotenedor*/    
}

#imgFoto{  
  max-width: 100%;                          /* Imagen ajustada al Ancho del contenedor */
  max-height: 100%;                         /* Imagen ajustada al Alto del contenedor */
  display: block;                           /* Imagen sin espacios adicionales */
  margin: auto;                             /* Para centrar la imagen */
}

#hTituloFoto{
  font-family: Verdana, Geneva, Tahoma, sans-serif;   /*Tipo Letra*/
  font-size: 30px;                                    /*Tamaño Letra*/
  color: brown  ;                                   /*Color de la Letra*/
  margin-top: 30%;
}

#pDescFoto{
  font-family: Verdana, Geneva, Tahoma, sans-serif;   /*Tipo Letra*/
  font-size: 20px;                                    /*Tamaño Letra*/
  color:brown  ;                                    /*Color de la Letra*/
}

/* Estilos Responsivos*/
@media only screen and (max-width: 650px) {
  /*Estilo para celular*/

  #divPrincipal{
    flex-direction: column;                    /*Cambio a modo columna*/
  }

  #divTextos{
    width: 100%;                               /*Ancho del Cotenedor*/
    height: 35%;                               /*Altura del Cotenedor*/
  }
  
  #divFotos{
    width: 100%;                               /*Ancho del Cotenedor*/
    height: 65%;                               /*Altura del Cotenedor*/    
  }

  #hTituloFoto{
    margin-top: 5%;                            /*Ajusta el Margen*/
  }
}