#asdPrincipal{
  height: 480px;                            /*Altura del Cotenedor*/
}

/* header{
  LO DESACTIVE POR QUE CAMBIA EL DICSEÑO FIJADO EN EL ESTANDAR PARA QUE TODAS LAS PAGINAS QUEDEN IGUALES.
  background-color: black;
  color:aliceblue
} */

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
 margin-top: 5px;;
  border-top:5px;
}
.gris{
  background-color:rgba(191, 191, 191, 0.805) ;
  border:5px solid aliceblue;
}


/*
ESTO LO AGREGASTE PARA COMPENZAR EL MENU QUE SE DESACOMODA
#navMenu{
  padding-top:1px;
  padding-bottom:15px;
}
*/

.foto1{
  color:black;
  background-color: rgb(173, 173, 171);
}

/* 
NO ES NECESARIO
body{
  background-color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-color: #bcbcbf;
  display: block;
  margin: 8px;
} */

#revisar{
    /*DESACTIVE LO QUE CAMBIA EL DICSEÑO FIJADO EN EL ESTANDAR PARA QUE TODAS LAS PAGINAS QUEDEN IGUALES.*/
    /*background-color: aliceblue;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    /*background-color: #bcbcbf;
    display: block;*/
    /*Margin: 8px;*/
  }